<div class="flex col max-size container">
	<h1 class="center">{{title}} - {{curr_user.name}}</h1>

	<h2 class="center">Week {{week}} - Availability Schedule</h2>
	<div class="flex row wrap container week">

		{{#each days}}
		<div class="flex even col center container {{status}} day">
			<h3>{{day_name}}</h3>

			<div class="flex col waiters">
				{{#each waiters}}
				<span class="waiter">{{first_name}} {{last_name}}</span>
				{{/each}}
			</div>
		</div>
		{{/each}}

	</div>
</div>