<div class="flex col gap justify align view container">

	{{!-------------------- ADMIN DASHBOARD ------------------}}

	<h1>{{title}} - {{user.full_name}}</h1>

	{{#if message.text}}
	<div class="{{message.type}} message">{{message.text}}</div>
	{{/if}}

	{{#if admin}}
	<h2>Week {{week}} - Availability Schedule</h2>

	<div class="flex col align">
		<div class="invisible center">Key:</div>
		<div class="flex row gap wrap justify key">
			<span class="center container booked day">Booked</span>
			<span class="center container overbooked day">Overbooked</span>
			<span class="center container underbooked day">Underbooked</span>
		</div>
	</div>

	<form action="/unset" method="post">
		<div class="flex row gap wrap justify container week">
			{{#each days}}
			<div class="flex col gap center container {{status}} day">
				<h3>{{day_name}}</h3>

				<div class="flex col gap align waiters">
					{{#each waiters}}
					<a href="#" title="Click to remove {{this.full_name}} from {{../day_name}}"
						onclick="if (confirm('Remove {{this.full_name}} from {{../day_name}}?')) window.location.href = '/admin/unset/{{../day_id}}/{{this.user_id}}';">
						{{this.full_name}}
					</a>
					{{/each}}
				</div>
			</div>
			{{/each}}
		</div>
	</form>

	{{#if assign_message.text}}
	<div class="{{assign_message.type}} message">{{assign_message.text}}</div>
	{{/if}}

	<form class="flex row gap align justify container" action="/admin/assign" method="post">
		<label for="full_name">Waiter</label>
		<select name="full_name">
			{{#each waiters}}
			<option value="{{user_id}}">{{full_name}}</option>
			{{/each}}
		</select>
		{{!-- <input class="center" type="text" name="full_name" autocomplete="off" required> --}}

		<label for="day_name">Day</label>
		<select name="day_name">
			{{#each days}}
			<option value="{{day_id}}">{{day_name}}</option>
			{{/each}}
		</select>

		<button type="submit">ASSIGN</button>
	</form>

	<form class="container" action="/admin/reset" method="post">
		<button type="submit" onclick="return confirm('Empty roster and start new week?')">START NEW WEEK</button>
	</form>
	{{/if}}

	{{!-------------------- WAITER DASHBOARD ------------------}}

	{{#if waiter}}
	<h2>Week {{week}} - Set Your Availability</h2>
	<form class="flex row gap wrap justify container week" action="/add" method="post">
		{{#each days}}
		<button class="container {{status}} day" type="submit"
			formaction="/waiter/{{action}}/{{day_id}}">{{day_name}}</button>
		{{/each}}
	</form>
	{{/if}}

</div>