<div class="flex col gap align view container">
	<div class="flex col gap justify container waiter">
		<div>Full name: <span>{{waiter.full_name}}</span></div>
		<div>Username: <span>{{waiter.username}}</span></div>
		<div>User ID: <span>{{waiter.user_id}}</span></div>
		<div class="flex row gap container days">
			{{#each waiter.days}}
			<div>{{this}}</div>
			{{/each}}
		</div>
	</div>
	<form action="admin/waiters/remove/{{waiter.user_id}}" method="post">
		<button type="submit" name="remove">REMOVE WAITER</button>
	</form>
</div>